/* 正文文本大小，使用浏览器的字体大小设置 */
body {
  font-size: initial;
}
html {
  font-size: initial;
}

.vp-doc h2 {
  font-size: 1.6em;
  /* font-size: 22px; */
}
.vp-doc h3 {
  font-size: 1.4em;
}
.vp-doc h4 {
  font-size: 1.1em;
}
.vp-doc h5 {
  font-size: 1em;
}
.vp-doc h6 {
  font-size: 1em;
}

.vp-doc p {
  /* line-height: 24px; */
  line-height: 1.5em;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);

  /* 代码块行高，默认 1.7em */
  --vp-code-line-height: 1.45em;
  /* --vp-code-line-height: 20px; */
  /* --vp-code-font-size: 0.875em; */
  /* --vp-code-font-size: 0.825em; */

  --vp-font-family-mono: "Sarasa Mono SC Nerd", "Sarasa Mono SC", ui-monospace,
    "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

/* 宽度大于 640px 时生效 */
@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

/* 宽度大于 960px 时生效 */
@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(64px);
  }
}

/* sidebar 相关 */
:root {
  --vp-sidebar-width: 240px;
}
.Layout .VPSidebar {
  padding-right: 12px;
  padding-bottom: 12px;
}

.VPLocalNav .VPLocalNavOutlineDropdown {
  padding-top: 8px;
  padding-bottom: 8px;
}
.VPLocalNav .menu {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* 这是为了在宽度 >1280 后，正文的上下位置不变 */
.VPContent .VPDoc {
  padding-top: 7px;
}
@media (min-width: 1280px) {
  .VPContent .VPDoc {
    padding-top: 48px;
  }

  /* 右侧目录 */
  .VPDoc .aside {
    padding-left: 16px;
    max-width: 240px;
  }
}

@media (min-width: 960px) {
  .Layout .group {
    padding-top: 10px;
    width: calc(var(--vp-sidebar-width) - 48px);
  }
  .Layout .VPNavBar.has-sidebar .title {
    padding-right: 16px;
  }
}

.VPSidebarItem .text {
  font-size: 0.875em;
  line-height: 1.5em;
}

/* https://sotoolbox.com/archives/11043.html
   https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-webkit-scrollbar */
/* 隐藏左侧边栏滚动条 */
.Layout .VPSidebar::-webkit-scrollbar {
  width: 0.3rem; /* 设置滚动条宽度 */
  background-color: transparent;
}
/* 隐藏左侧边栏滚动条滑块 */
.Layout .VPSidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* 隐藏左侧边栏滚动条轨道 */
.Layout .VPSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 显示左侧边栏滚动条 */
.Layout .VPSidebar:hover::-webkit-scrollbar-thumb {
  background-color: #d0d0d0; /* 设置滚动条滑块颜色 */
}
/* 显示左侧边栏滚动条轨道 */
.Layout .VPSidebar:hover::-webkit-scrollbar-track {
  background-color: #eeeeee; /* 设置滚动条轨道颜色 */
}

/* 浏览器右侧以及代码块的滚动条 */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  -webkit-border-radius: 5px; /* 圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}
::-webkit-scrollbar-thumb:active {
  background-color: #a0a0a0;
}

/* 正文最大宽度，默认 688px
   https://developer.mozilla.org/zh-CN/docs/Web/CSS/Specificity
   选择器更具体，就有更高的优先级
*/
.VPContent .VPDoc.has-aside .content-container {
  max-width: 1000px;
}
.container .content {
  padding-left: 12px;
  padding-right: 12px;
}
.VPDoc.has-sidebar.has-aside {
  padding-left: 12px;
  padding-right: 12px;
}

/* 代码块 padding-left 改为 8px，制表符大小 8 */
.vp-doc [class*="language-"] code {
  padding-left: 8px;
  tab-size: 8;
}
/* 对于带 diff 的代码块，仍然保持 24px */
.vp-doc [class*="language-"] .has-diff code {
  padding-left: 24px;
}
/* 代码块上下距离 */
.vp-doc [class*="language-"] pre {
  padding-top: 8px;
  padding-bottom: 8px;
}
.vp-doc .line-numbers-wrapper {
  padding-top: 8px;
  user-select: none; /* 代码块左侧的语言，不可选中 */
}
.lang {
  user-select: none; /* 代码块右上角的语言，不可选中 */
}

/* 代码 copy 按钮。防止单行代码时出现滚动条 */
.vp-doc [class*="language-"] > button.copy {
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  border: initial;
  border-radius: initial;
}

/* - [ ] 勾选框，垂直居中 */
.task-list-item .task-list-item-checkbox {
  vertical-align: middle;
}
